.profileInfo{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;
}

.generalInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: space-between;
    align-items: center;   
    height: 100%; 
       
=======
    justify-content: center;
    align-items: center;
    height: fit-content;
>>>>>>> eeb9d0c6130369cee32fb8ecb307ee5767393e9f
}

.editInfo{   
    form{
        width:100%;
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
    }    
}

<<<<<<< HEAD

=======
.buttons{
    display:flex;
    flex-flow:column nowrap;
}
>>>>>>> eeb9d0c6130369cee32fb8ecb307ee5767393e9f

.addPhoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    *{
        margin-left: 10px;
        margin-right: 10px;
    }
}