.profileInfo{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
}

.editInfo{   
    form{
        width:100%;
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
    }    
}

.buttons{
    display:flex;
    flex-flow:column nowrap;
}