<ion-header>
  <ion-toolbar>    
    <h2 >{{collection.name}}</h2>
    <ion-button (click)="dismiss()" fill="clear" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button (click)="deleteCollection(collection.name)" fill="clear" slot="end" color='danger'>
      <p>Delete</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      
      <ion-col *ngFor="let post of collection.photos" size=12>
        <div class='imgs' >          
          <ion-img [src]="post.urls.regular" [style]="'width: 100%;height:'+post.height" ></ion-img>         
        </div>               
      </ion-col>    
      <!--<ion-spinner *ngIf="isLoading"></ion-spinner>   -->
      <ion-col size=12>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
