.imgs{  
    ion-icon{
      position: absolute;
      bottom:12px;
      z-index: 100;
      margin-left: 88%;
      font-size: 30px;
      color:pink;
    }
  }

  ion-item{
    position:fixed;
    top: 0;
    width:100%;
    z-index: 120;
  }

  ion-grid{
    margin-top: 60px;
  }