.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .liked{
      --background: pink;
  }
  
  ion-button:last-child {
    margin-left: auto;
  }
}

ion-spinner{
  width:100%;
}
