<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let post of postsList" size=12>
        <div class='imgs' *ngIf='!isLoading'>
          <ion-img [src]="post.urls.regular" [style]="'width: 100%;height:'+post.height" (click)='openImageModal(post)'></ion-img>
          <ion-icon [name]='post.liked ? "heart" : "heart-outline"' (click)='likeImage(post)'></ion-icon>
        </div>               
      </ion-col>
      <ion-col size=12>
        <ion-infinite-scroll threshold="200px" (ionInfinite)="showMore($event)">
          <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more images">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
      <ion-spinner *ngIf="isLoading"></ion-spinner>   
    </ion-row>
  </ion-grid>
</ion-content>
