<ion-header [translucent]="true">
    <ion-button fill='clear' (click)='logout()' color="danger">Logout</ion-button>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let post of postsList" size=12>
        <div class='imgs' >          
          <ion-img [src]="post.urls.regular" [style]="'width: 100%;height:'+post.height" (click)='openImageModal(post)'></ion-img>
          <ion-icon [name]='post.liked ? "heart" : "heart-outline"' (click)='likeImage(post)' *ngIf='!isLoading'></ion-icon>
        </div>               
      </ion-col>    
      <ion-spinner *ngIf="isLoading"></ion-spinner>   
      <ion-col size=12>
        <ion-button fill='clear' expand="full" (click)='showMore()' *ngIf='!isLoading'>Show more</ion-button>   
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
